<%- include('header')  %> 
<h1>This is About page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Aperiam, quam voluptatem. Rem consequatur et cum sunt aliquam,
      eaque velit, laborum cupiditate doloremque eius dicta dignissimos
       dolor magnam aut eos ex.</p>
<%- include('footer') %> 